openapi: 3.0.0
info:
  title: OpenWeatherMap API
  version: '2.5'
  description: 'Get the current weather, daily forecast for 16 days, and a three-hour-interval forecast for 5 days for your city. Helpful stats, graphics, and this day in history charts are available for your reference. Interactive maps show precipitation, clouds, pressure, wind around your location stations. Data is available in JSON, XML, or HTML format. **Note**: This sample Swagger file covers the `current` endpoint only from the OpenWeatherMap API. <br/><br/> **Note**: All parameters are optional, but you must select at least one parameter. Calling the API by city ID (using the `id` parameter) will provide the most precise location results.'
  contact:
    name: Support
    url: 'https://openweathermap.org/api'
    email: some_email@gmail.com
  termsOfService: 'https://openweathermap.org/terms'
  license:
    name: CC Attribution-ShareAlike 4.0 (CC BY-SA 4.0)
    url: 'https://openweathermap.org/price'
servers:
  - url: 'https://api.openweathermap.org/data/2.5'
    description: prod
paths:
  '/weather/{q}/{id}/{lat}/{lon}/{lang}/{mode}':
    get:
      summary: weather
      tags:
        - Weather endpoints
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  coord:
                    type: object
                    description: 'City geo location, longitude'
                    properties:
                      lon:
                        type: number
                        example: 145.77
                        description: 'City geo location, longitude'
                      lat:
                        type: number
                        example: 37.35
                        description: 'City geo location, latitude'
                  cod:
                    example: '200'
                    description: Internal parameter
                    type: number
                  name:
                    type: string
                    description: Name
                    example: Cairns
                  id:
                    description: City ID
                    example: '2172797'
                    type: number
                  timezone:
                    description: the timezone for the station
                    example: '-28800'
                    type: number
                  sys:
                    type: object
                    properties:
                      type:
                        description: Internal parameter
                        example: '1'
                        type: number
                      id:
                        type: number
                        description: Internal parameter
                        example: '8166'
                      country:
                        type: string
                        description: '‘Country code (GB, JP etc.)’'
                        example: AU
                      sunrise:
                        description: 'Sunrise time, unix, UTC'
                        example: '1435610796'
                        type: number
                      sunset:
                        description: 'Sunset time, unix, UTC'
                        example: '1435650870'
                        type: number
                  dt:
                    description: 'Time of data calculation, unix, UTC'
                    example: '1435658272'
                    type: number
                  clouds:
                    type: object
                    properties:
                      all:
                        description: 'Cloudiness, %'
                        example: '75'
                        type: number
                  wind:
                    type: object
                    description: ''
                    properties:
                      speed:
                        description: 'Wind speed. Unit Default: meter/sec, Metric: meter/sec, Imperial: miles/hour.'
                        example: '5.1'
                        type: number
                      deg:
                        description: 'Wind direction, degrees (meteorological)'
                        example: '150'
                        type: number
                      visibility:
                        type: number
                        description: 'Visibility, meter'
                        example: 16093
                  main:
                    type: object
                    description: ''
                    properties:
                      temp:
                        description: 'Temperature. Unit Default: Kelvin, Metric: Celsius, Imperial: Fahrenheit.'
                        example: '293.25'
                        type: number
                      feels_like:
                        description: What the weather feels like despite the actual numbers
                        example: '41.16'
                        type: number
                      temp_min:
                        description: 'Minimum temperature at the moment. This is deviation from current temp that is possible for large cities and megalopolises geographically expanded (use these parameter optionally). Unit Default: Kelvin, Metric: Celsius, Imperial: Fahrenheit.'
                        example: '289.82'
                        type: number
                      temp_max:
                        description: 'Maximum temperature at the moment. This is deviation from current temp that is possible for large cities and megalopolises geographically expanded (use these parameter optionally). Unit Default: Kelvin, Metric: Celsius, Imperial: Fahrenheit.'
                        example: '295.37'
                        type: number
                      pressure:
                        description: 'Atmospheric pressure (on the sea level, if there is no sea_level or grnd_level data), hPa'
                        example: '1019'
                        type: number
                      humidity:
                        description: 'Humidity, %'
                        example: '83'
                        type: number
                  base:
                    type: string
                    description: Internal parameter
                    example: cmc stations
                  weather:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Weather condition id
                          example: '803'
                        main:
                          type: string
                          description: 'Group of weather parameters (Rain, Snow, Extreme etc.)'
                          example: clouds
                        description:
                          type: string
                          description: Weather condition within the group
                          example: broken clouds
                        icon:
                          type: string
                          description: Weather icon id
                          example: 04n
              examples:
                example-1:
                  value: {}
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized_response'
      operationId: get-weather
      description: 'Access current weather data for any location on Earth including over 200,000 cities! Current weather is frequently updated based on global models and data from more than 40,000 weather stations.'
      parameters:
        - schema:
            type: string
          in: query
          name: zip
          description: '**Zip code**. Search by zip code. *Example: 95050,us*. Please note that if the country is not specified, the search uses USA as a default.'
        - schema:
            type: string
            default: standard
            enum:
              - standard
              - metric
              - imperial
          in: query
          name: units
          description: '**Units**. *Example: imperial*. Possible values: `standard`, `metric`, and `imperial`. When you do not use the `units` parameter, the format is `standard` by default.'
    parameters:
      - schema:
          type: string
        name: q
        in: path
        description: '**City name**. *Example: London*. You can call by city name, or by city name and country code. The API responds with a list of results that match a searching word. For the query value, type the city name and optionally the country code divided by a comma; use ISO 3166 country codes.'
      - schema:
          type: string
        name: id
        in: path
        description: '**City ID**. *Example: `2172797`*. You can call by city ID. The API responds with the exact result. The List of city IDs can be downloaded [here](http://bulk.openweathermap.org/sample/). You can include multiple cities in this parameter — just separate them by commas. The limit of locations is 20. *Note: A single ID counts as a one API call. So, if you have city IDs, it’s treated as 3 API calls.*'
      - schema:
          type: string
        name: lat
        in: path
        description: '**Latitude**. *Example: 35*. The latitude coordinate of the location of your interest. Must use with `lon`.'
      - schema:
          type: string
        name: lon
        in: path
        description: '**Longitude**. *Example: 139*. Longitude coordinate of the location of your interest. Must use with `lat `.'
      - schema:
          type: string
          default: en
        name: lang
        in: path
        description: '**Language**. *Example: en*. You can use lang parameter to get the output in your language. We support the following languages that you can use with the corresponded lang values: Arabic - `ar`, Bulgarian - `bg`, Catalan - `ca`, Czech - `cz`, German - `de`, Greek - `el`, English - `en`, Persian (Farsi) - `fa`, Finnish - `fi`, French - `fr`, Galician - `gl`, Croatian - `hr`, Hungarian - `hu`, Italian - `it`, Japanese - `ja`, Korean - `kr`, Latvian - `la`, Lithuanian - `lt`, Macedonian - `mk`, Dutch - `nl`, Polish - `pl`, Portuguese - `pt`, Romanian - `ro`, Russian - `ru`, Swedish - `se`, Slovak - `sk`, Slovenian - `sl`, Spanish - `es`, Turkish - `tr`, Ukrainian - `ua`, Vietnamese - `vi`, Chinese Simplified - `zh_cn`, Chinese Traditional - `zh_tw`.'
      - schema:
          type: string
          default: json
          enum:
            - json
            - xml
            - html
        name: mode
        in: path
        description: '**Mode*. *Example: html. Determines the format of the response. Possible values are `json`, `xml`, and `html`. If the mode parameter is empty, the format is `json` by default.'
components:
  schemas:
    unauthorized_response:
      title: unauthorized_response
      type: object
      properties:
        cod:
          type: integer
        message:
          type: string
      required:
        - cod
        - message
  securitySchemes:
    app_id:
      name: appid
      type: apiKey
      in: query
tags:
  - name: Weather endpoints
